/*really need to sort out the whole thing with the navbar being white as well as the logo*/

@import "bootstrap";

/* mixins, variables, etx.*/

$grayMediumLight: #eaeaea;

/* universal */

html {
	overflow-y: scroll;
}


/* The following 60 pixels of padding at the top of the page. 
Because of the navbar-fixed-top class in the header tag, 
Bootstrap fixes the navigation bar to the top of the page, 
so the padding serves to separate the main text from the navigation */

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

/* The following associates the center class with the text-align: center property.
The dot (.) in .center indicats that the rule styles a class. This means that elements
inside any tag (such as div) with class center will be centered on the page.)*/

.center {
	text-align: center;
	h1	{
		margin-bottom: 10px;
	}
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 { 
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/* header */

#logo	{
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover { 
		color: white;
		text-decoration: none;
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}





















